@import "../visuals/colors";
.languages {
  position: relative;
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
    height: 8em;

  }
  &__item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 6em;
    font-weight: bold;
    height: 5em;
    margin-right: 0.2em;
    margin-left: 0.2em;
  }

  &__title {
    font-size: 2em;
    padding-top: 3em;
    text-align: center;

    &_master {
      font-size: 4.5em;
      color:$color-blue;
    }
    &_description{
      font-size: 1.5em;
    }
  }
}
.language__title{
  &_css{
    color:$color-dark-blue;
  }
  &_js{
    color: $color-yellow;
  }
  &_html{
    color: green;
  }
  &_ts{
    color:$color-blue ;
  }
  &_php{
    color: $color-purple;
  }
}
