@import "../visuals/colors";
@import "../visuals/fonts.scss";

#iph_school, #hech_school, #helmo_school, #hepl_school {
  font-family: 'customfont', sans-serif;
  font-size: 2em;
  height: 2em;
  width: 11em;
  padding: 0.5em 1.5em 0.5em 2em;
  background-color: white;
}

#schools #iph_school:focus ~ #iph2,
#schools #hech_school:focus ~ #hech2,
#schools #helmo_school:focus ~ #helmo2,
#schools #hepl_school:focus ~ #hepl2,
#schools #iph_school:checked ~ #iph2,
#schools #hech_school:checked ~ #hech2,
#schools #helmo_school:checked ~ #helmo2,
#schools #hepl_school:checked ~ #hepl2 {
  display: block;
}

.school {
  font-size: 16px;

  &-card {
    font-family: 'customfont', sans-serif;
    padding: 1.2em;
    background-color: #E6EFFA;
    border-radius: 5%;
    margin: 0 3em;
    width: 15em;
    height: 16em;
    font-size: 1em;

    &__title {
      font-size: 1.3125em;
      font-weight: bolder;
    }

    &__item {
      &__content {
        padding: 0.2em 0.5em;
        color: lightslategrey;
        font-size: 1em;

        &__formation {
          color: $color-blue;
        }

        & strong {
          color: $color-dark-blue;
        }

        & svg {
          padding-right: 0.5em;
          color: $color-yellow;
        }
      }
    }
  }
}

.schools {
  font-size: 16px;

  &-card {
    &__container {
      &-btn {
        font-family: 'customfont', sans-serif;
        font-size: 1.5em;
        font-weight: bold;
        padding: 0 4em 0 4em;
        cursor: pointer;
        border: none;
      }
    }
  }
}
  #iph_school{
color: darkmagenta;
    border: darkmagenta;
  }
  #hech_school{
color: orange;
    border: orange;
  }
  #helmo_school{
    color: olivedrab;
    border:olivedrab;
  }
  #hepl_school{
    color: darksalmon;
    border:darksalmon;
  }